site_name: CCGONOW
site_url: https://ccgonow.readthedocs.io
repo_url: https://github.com/ccgo-group/ccgo-now
repo_name: ccgonow

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdoxy:
      projects:
        api:
          src-dirs: ./include
          full-doc: True
          doxy-cfg:
            FILE_PATTERNS: "*.h *.hpp"
            RECURSIVE: True
            EXTRACT_ALL: True
            GENERATE_XML: True
            QUIET: True

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference: api/annotated.md
